
/* * {
	box-sizing: border-box;
} */

body {
    margin: 0;
    width: 60%;
    
    
    /* text-align: center; */
}
.logo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  /* font-style: oblique; */
  /* text-shadow: 2px 2px rgb(130, 164, 216); */
  text-shadow: 1px 1px black;
  color:wheat; 
}
.hamburger{
  display: none;
}
.btn-nav{

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 50px;
    /* width: 80px; */
    font-size: 1rem;
    color:wheat;
}
.btn-nav:hover,
.btn-nav:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.main-container{
  background-color: rgb(130, 164, 216);
  width: 90%;
  
  /* 800px */
  height: 650px;
  /* 650px */
  margin-top: 50px;
  
  margin-left: 30%;
}

.main-pics-container{
/* margin-left: 80px;
margin-right: 80px; */

/* position: relative; */

  width: 80%;
  height: 500px;
  margin-top: 45px;
  margin-left: 10%;
  /* margin-bottom: 100px; */
  background-color: rgb(241, 227, 230);
  border-radius: 10%;
  display: grid;
  border-top: solid white;
  /* grid-template-columns: 1fr; */
  /* border-style: solid; */
  /* align-items: center; */
  /* justify-content: center; */

}

.pics-container{
  padding-top: 50px;
  /* padding-left: auto; */

  margin-left: 8%;
  
  margin-top: 100 px;
    display: grid;
    grid-template-columns:  repeat(4, 110px); 
    grid-template-rows:  repeat(4, 110px);
        grid-row-gap: 10px; 
    grid-column-gap: 10px; 
}
.mempic{
    width: 100px;
    height: 100px;
    border: solid white;
}
.mempic:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: 0.5s;
}
.btn-next{

  display: none;

}

/* .container:hover .image {
  opacity: 0.3;
}

.imgBox:hover
{
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

transform: scale(1.3);
transition: .3s 
-webkit-transform: rotate(15deg) scale(1.4);
transform: rotate(15deg) scale(1.4);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out; */



.modal {
        /* Hidden by default */
    display: none; 
    position: fixed;
    top: 4%;
    left: 4%;
    background-color: slategrey;
    border-radius: 10%;
    

    /* position: fixed; */
     /* Stay in place */
    z-index: 1; /* Sit on top */
    /* left: 0;
    top: 0; */
    width: 70%; /* Full width */
    height: 95%; /* Full height */
    padding: 10px;
    grid-column: 1/2;

    

    /* overflow: auto;  */
    /* Enable scroll if needed */

    /*given bgcolor and opacity to check later*/
    /* background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */ 
  }
  
  /* Modal Content/Box */

 


  .modal-content {

    margin-left: 19px;

    margin-top: 85px;

    display: grid; 
    grid-template-columns:   repeat(7, 1fr); 
    grid-template-rows: 3fr,1fr;

    grid-template-rows:auto 1fr;
    /* grid-auto-flow:dense; */

    background-color: #fefefe;
    /* margin: 5% auto;  */
    /* padding: 20px; */
    border: 1px solid #888;
    width: 95%;
     /* Could be more or less, depending on screen size */
    /* height: 82%; */
  }
  .can{
    margin-top: 65px;
    margin-left: 30px;;

  }

  .editInputs{
    width: 300px;
    margin-top: 65px;
background-color:rgb(194, 96, 96);
    /* max-width: 100%; */
    grid-column: 2/6;
     display: grid;
    grid-template-columns: repeat(6, 1fr); 
   grid-template-rows: repeat(7, 1fr); 

    /* grid-template-rows: repeat(5, 1fr);  */
  }
  .publish{
    padding-top: 50px;
    margin-bottom: 30px;
    margin-left:30px;
    grid-row: 2/3;
  }
  
  /* The Close Button */
  .close {
    color:whitesmoke;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 15px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .editInputs{
    grid-column: 3/6;
  }


  #fsize{ 
    max-width: 40px;
  }
  #fontfam{

    max-width: 100px;

  }

  .clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav{

  display: grid;
  grid-template-columns:  repeat(5, 110px); 

  /* background-color: crimson; */
  /* grid-template-rows:  repeat(5, 110px); */

}

.main-header{

  padding-left: 75px;
  
  height: 50px;
  background-color: crimson;

  display: grid;
  grid-template-columns:  repeat(6, 1fr);
  align-items: center;
  border-bottom: solid white;
  /* border-top: solid white; */
  
}
.src-select{
  
  width: 80px;
}


.logo {
  grid-column: 1/2;
  /* grid-row:1/3 */
}
.nav.container{
  grid-column: 4/7;

}

/*helper*/
.unstretch{
  vertical-align:center;
  min-width: 0;
  min-height: 0;
  max-width: 50px;
}

.txt{
  grid-column: 2/6;
  /* max-width: 50px; */
  max-height: 20px;
}
.text1{
  
  grid-row: 2/3;

}
.text2{
  grid-row: 3/4;

}
.font-btn{

  grid-row: 4/5;
  max-width: 40px;
  max-height: 40px;
  background-color: Transparent;
  background-color: white;
  border-radius: 20%;
  /* background-repeat:no-repeat; */
  /* border: none; */

}

.increase{
/**/
  grid-column: 2/3;
  /* background-image: url('icons/increase_1.png'); */
/* 
  width: 500px;
  height: 600px; */


}
.decrease{
  /**/
  grid-column: 3/4;

}

.up{
  max-width: 40px;
  max-height: 40px;
  background-color: Transparent;
  background-color: white;
  border-radius: 20%;


}
.down{
  max-width: 40px;
  max-height: 40px;
  background-color: Transparent;
  background-color: white;
  border-radius: 20%;


}
.updown{

 
  grid-row: 6/7;
  /* max-width: 40px;
  max-height: 40px; */
  /**/
  grid-column:5/6 ;
  display: flex;
  flex-direction: row;

}

.switch-line{

  max-width: 40px;
  max-height: 40px;
  background-color: Transparent;
  background-color: white;
  border-radius: 20%;


  grid-row: 5/6 ;
  /**/
  grid-column: 5/6;
  max-width: 40px;
  max-height: 40px;


}
.chcolor{

  width: 40px;
  
  grid-row: 4/5;
  /**/
  grid-column: 4/5;
  background-image: url("icons/paint_1.png") no-repeat scroll 7px 7px;
/* padding-left:30px; */

}
.ffam{

  grid-row: 5/6;
  /**/
  grid-column: 2/7;
  /* max-width: 20px; */
  max-height: 30px;
}
.fsiz{
  grid-row: 4/5;
  /**/
  grid-column: 5/6;
  max-width:30px;
  max-height: 30px;
}
.btnright{
  max-width: 40px;
  max-height: 40px;
  background-color: Transparent;
  background-color: white;
  border-radius: 20%;

  grid-row: 6/7;
  /**/
  grid-column: 2/3;
  max-width: 40px;
  max-height: 40px;

}
.btncenter{
  max-width: 40px;
  max-height: 40px;
  background-color: Transparent;
  background-color: white;
  border-radius: 20%;

  grid-row: 6/7;
  /**/
  grid-column: 3/4;
  max-width: 40px;
  max-height: 40px;

}
.btnleft{
  max-width: 40px;
  max-height: 40px;
  background-color: Transparent;
  background-color: white;
  border-radius: 20%;

  grid-row: 6/7;
  /**/
  grid-column: 4/5;
  max-width: 40px;
  max-height: 40px;

}
.btnclear{
  max-width: 40px;
  max-height: 40px;
  background-color: Transparent;
  background-color: white;
  border-radius: 20%;

  grid-row: 7/8;
  grid-column: 2/6;
  /* max-width: 40px; */
  /* max-height: 30px; */
}
.btn-face{
  max-width: 40px;
  max-height: 40px;
  background-color: Transparent;
  background-color: white;
  border-radius: 20%;
}


@media(max-width:1240px){

.pics-container{
  padding-top: 50px;
  /* padding-left: auto; */

  margin-left: 8%;
  
  margin-top: 100 px;
    display: grid;
    grid-template-columns:  repeat(3, 110px); 
    grid-template-rows:  repeat(4, 110px);
        grid-row-gap: 10px; 
    grid-column-gap: 10px; 
}

.main-header{

  padding-left: 75px;
  
  height: 50px;
  background-color: crimson;

  display: grid;
  grid-template-columns:  repeat(5, 1fr);
  align-items: flex-start;
  border-bottom: solid white;
  /* border-top: solid white; */
  
}





.modal {
  /* Hidden by default */
display: none; 
position: fixed;
top: 4%;
left: 4%;
background-color: slategrey;
border-radius: 10%;


/* position: fixed; */
/* Stay in place */
z-index: 1; /* Sit on top */
/* left: 0;
top: 0; */
width: 70%; /* Full width */
height: 95%; /* Full height */
padding: 10px;
grid-column: 1/2;



/* overflow: auto;  */
/* Enable scroll if needed */

/*given bgcolor and opacity to check later*/
/* background-color: rgb(0,0,0); /* Fallback color */
/* background-color: rgba(0,0,0,0.4); Black w/ opacity */ 
}

/* Modal Content/Box */




.modal-content {

margin-left: 19px;

margin-top: 85px;

display: grid; 
grid-template-columns:   repeat(7, 1fr); 
grid-template-rows: 3fr,1fr;

grid-template-rows:auto 1fr;
/* grid-auto-flow:dense; */

background-color: #fefefe;
/* margin: 5% auto;  */
/* padding: 20px; */
border: 1px solid #888;
width: 95%;
/* Could be more or less, depending on screen size */
/* height: 82%; */
}
.can{
  margin-top: 65px;
  margin-left: 20px;
  width: 400px;

}

.editInputs{
  width: 250px;
  margin-top: 65px;
background-color:rgb(194, 96, 96);
  /* max-width: 100%; */
  grid-column: 2/6;
   display: grid;
  grid-template-columns: repeat(6, 1fr); 
 grid-template-rows: repeat(7, 1fr); 

  /* grid-template-rows: repeat(5, 1fr);  */
}



}




@media(max-width:960px){

  .main-container{
  /* background-color: rgb(130, 164, 216); */
  /* width: 510px; */
  /* height: 650px; */
  margin-top: 50px;
  margin: 10px;
  }

.main-pics-container{
  /* margin-left: 20px; */
  
    /* width: 30%; */
    height: 530px;
    margin-top: 35px;
    /* margin-bottom: 100px; */
    background-color: rgb(241, 227, 230);
    border-radius: 0;
    display: flex;
    flex-direction: row;
    border-top: solid white;
    /* grid-template-columns: 1fr; */
    /* border-style: solid; */
    /* align-items: center; */
    /* justify-content: center; */
  
  }
  .pics-container{
    padding-top: 20px;
    /* padding-left: 20px; */

    /* margin-left: 0px; */
    
    margin-top: 100 px;
      display: grid;
      grid-template-columns:  repeat(2, 1fr); 
      grid-template-rows:  repeat(4, 110px);
          grid-row-gap: 10px; 
      grid-column-gap: 10px; 
  }
  
.nav{


  display: flex;
  flex-direction: column;
  position: fixed;
  /* top: 0;
  right: 0; */

  margin-top: 10px;
  margin-right: 10px;

  
  /* height: 100vh; */

  width: 80px;


  background-color: rgba(220, 20, 60, 0.404);
  border-left: 1px solid rgba(0, 0, 0, 0.616);

  /* transform: translateX(100%);
  transition: transform 1s; */

  /* grid-template-rows:  repeat(5, 110px); */

}
.menu-open .nav{
  transform: translateX(0);
}

.hidden-select .lbls{
  display: block
}

.main-header{

  padding-left: 75px;
  
  height: 50px;
  background-color: crimson;

  /* align-items: center; */
  border-bottom: solid white;
  /* border-top: solid white; */
  
}
}




 @media (max-width: 400px) {

  .main-container{
    background-color: rgb(130, 164, 216);
    width: 310px;
    height: 650px;
    margin-top: 50px;
    margin: 10px;
    
  
    /* margin-left: 100px; */
  }
  .main-pics-container{
    margin-left: 20px;
    
      width: 55%;
      height: 530px;
      margin-top: 35px;
      /* margin-bottom: 100px; */
      background-color: rgb(241, 227, 230);
      border-radius: 0;
      display: flex;
      flex-direction: row;
      border-top: solid white;
      /* grid-template-columns: 1fr; */
      /* border-style: solid; */
      /* align-items: center; */
      /* justify-content: center; */
    
    }


    .pics-container{
      padding-top: 20px;
      padding-left: 20px;
      
      margin-top: 100 px;
        display: grid;
        grid-template-columns:  repeat(1, 1fr); 
        grid-template-rows:  repeat(4, 110px);
            grid-row-gap: 10px; 
        grid-column-gap: 10px; 
    }
    .mempic{
        width: 120px;
        height: 117px;
        border: solid white;
    }

    .btn-next{

      display: block;
      margin-left: 60px;

    }

    

.modal {
  /* Hidden by default */
display: none; 
position: fixed;
top: 0%;
left: 0%;
background-color: slategrey;
border-radius: 10%;

z-index: 1; /* Sit on top */
/* left: 0;
top: 0; */
width: 95%; /* Full width */
height: 100%; /* Full height */
padding: 10px;
grid-column: 1/2;

}


.modal-content {

margin-left: 8px;

margin-top: 20px;

display: flex;
flex-direction: column;

/* display: grid; 
grid-template-columns:   repeat(7, 1fr); 
grid-template-rows: 3fr,1fr;

grid-template-rows:auto 1fr; */


/* grid-auto-flow:dense; */

background-color: #fefefe;
/* margin: 5% auto;  */
/* padding: 20px; */
border: 1px solid #888;
width: 95%;
height: 650px;
/* Could be more or less, depending on screen size */
/* height: 82%; */
}
.can{
  width: 260px;
  height: 260px;
margin-top: 30px;
margin-left: 18px;;

}

.editInputs{
width: 263px;
height: 300px;
margin-left: 17px;
margin-top: 15px;
background-color:rgb(194, 96, 96);
/* max-width: 100%; */
grid-column: 2/6;
display: grid;
grid-template-columns: repeat(6, 1fr); 
grid-template-rows: repeat(7, 1fr); 

/* grid-template-rows: repeat(5, 1fr);  */
}
.publish{
padding-top: 4px;
margin-bottom: 30px;
margin-left:100px;
grid-row: 2/3;
}

/* The Close Button */
.close {
color:whitesmoke;
float: right;
font-size: 28px;
font-weight: bold;
margin-right: 25px;
margin-top: 0px;
}



.nav{


  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;

  margin-top: 10px;
  margin-right: 10px;

  
  /* height: 100vh; */

  width: 80px;


  background-color: rgba(220, 20, 60, 0.404);
  border-left: 1px solid rgba(0, 0, 0, 0.616);

  /* transform: translateX(100%);
  transition: transform 1s; */

  /* grid-template-rows:  repeat(5, 110px); */

}
.menu-open .nav{
  transform: translateX(0);
}

.hidden-select .lbls{
  display: block
}

.main-header{

  padding-left: 75px;
  
  height: 50px;
  background-color: crimson;

  /* align-items: center; */
  border-bottom: solid white;
  /* border-top: solid white; */
  
}
.hamburger{
  display: block;
  right: 0;
  top: 0;

}
#lables{  display: none;
}


/* .logo {

  /* grid-row:1/3 */


li{
  padding: 0 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.616);
  
}

/* 
 .nav.container{ 

  

  }  */
}




    /* display: grid; */
    /* grid-template-rows:  repeat(5, 110px);  */
  
    /* background-color: crimson; */
    /* grid-template-rows:  repeat(5, 110px); */
  
  /* } */
  
  /* .main-header{ */
  
    /* padding-left: 75px; */
    
    /* height: 50px; */
    /* background-color: crimson; */
  
    /* display: grid;
    grid-template-columns:  repeat(5, 1fr);
    align-items: rigth;
    border-bottom: solid white; */
    /* border-top: solid white; */
    
  /* }
  
} */







/* @media (max-width: 1500px) { */
  /* .container {
      max-width: 1500px;
  }
  .main-footer {
      max-width: 1500px;
  }
  .cards-container {
      max-width: 980px;
  } */
  /* h2 {
      padding-bottom: 3.625rem;
  } */
/* } */

/* @media (max-width: 980px) { */
  /* .container {
      max-width: 1500px;
  }
  .main-footer {
      max-width: 1500px;
  }
  .cards-container {
      max-width: 980px;
  } */
  /* h2 {
      padding-bottom: 1.625rem;
  } */
/* } */

/* @media (max-width: 900px) { */
  /* .container {
      max-width: 1500px;
  }
  .main-footer {
      max-width: 1500px;
  }
  .cards-container {
      max-width: 980px;
  } */
  /* h2 {
      padding-bottom: 3.625rem;
  }
  .card.flex {
      flex-direction: column;
      margin-top: 80px;
      text-align: center;
  }
  .img-rap {
      margin-bottom: 80px;
  }
  
  .info-rap{
      text-align: left;
      margin-right: 30px;
      padding-left: 160px;

  }
  h2{
      max-width: 400px;
  }
  p{
      max-width: 400px;
  } */
/* } */



